.preview-list {
  // Set up a grid layout with standard bleed on either side.
  @include layout-grid-with-bleed;

  // TODO: Temp
  margin-block-start: var(--s-8);

  ul {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    row-gap: var(--s-8);
  }

  li {
    display: flex;
    column-gap: var(--s-6);
    align-items: center;

    // TODO: Figure these out
    // grid-template-columns: 144px auto;
    // content-visibility: auto;
    // contain-intrinsic-size: 192px;

    // TODO: We have no hover styles yet!

    img {
      // TODO: This guy stretches on mobile, ouch!
      border-radius: var(--border-radius-medium);
    }

    a {
      // Remove underline from chip links.
      --link_color-underline: transparent;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
      }
    }

    h3 {
      // TODO: Evaluate
      font-weight: var(--font-weight-medium);
    }

    article {
      display: flex;
      flex-direction: column;
      row-gap: var(--s-2);

      position: relative;
    }
  }

  @media (max-width: 60ch) {
    li {
      img {
        display: none;
      }
    }
  }
}
