// All scrollbar styles are variable-based. If the element doesn't define the
// correct variables, the scrollbar will default to the browser's default.
// This is useful for conditional styling of scrollbars, such as on mobile.
::-webkit-scrollbar {
  background-color: var(--scrollbar-bg);
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-knob-clr);
  border-radius: var(--scrollbar-size);
  border: var(--scrollbar-border);

  // TODO: Hover media query
  @media (hover: hover) {
    &:hover {
      background-color: var(
        --scrollbar-knob-clr-active,
        var(--scrollbar-knob-clr)
      );
    }
  }
}

body {
  // Lock body scroll, allowing modals to lock page scroll.
  &[data-scroll-lock='true'] {
    overflow-y: hidden;
  }

  @media (min-width: $mobile-upper-bound) and (pointer: fine) {
    // Only style the `body` scrollbar on desktop devices.
    --scrollbar-size: #{$scrollbar-width};
    --scrollbar-bg: transparent;
    --scrollbar-border: 2px solid var(--clr-bg);
    --scrollbar-knob-clr: var(--clr-scrollbar-knob);
    --scrollbar-knob-clr-active: var(--clr-scrollbar-knob-active);

    &[data-scroll-lock='true'] {
      // To avoid the page jumping when locking the scroll, add padding to the
      // right side of the page to compensate for the scrollbar.
      padding-inline-end: var(--scrollbar-size);
    }
  }
}
