@include vmap-to-multiple-classes(
  $V_spacing,
  (
    'p': 'padding',
    'py': 'padding-block',
    'px': 'padding-inline',
    'pt': 'padding-block-start',
    'pb': 'padding-block-end',
    'pl': 'padding-inline-start',
    'pr': 'padding-inline-end',
    'm': 'margin',
    'my': 'margin-block',
    'mx': 'margin-inline',
    'mt': 'margin-block-start',
    'mb': 'margin-block-end',
    'ml': 'margin-inline-start',
    'mr': 'margin-inline-end',
  )
);

// TODO: Selectively apply for media breakpoints
// md:mx-3.5, md:p-6, md:px-6, md:py-8, md:gap-2

// Additional spacing (auto)
.mx-auto {
  margin-inline: auto;
}

// TODO: Evaluate usage
@include vmap-to-classes(
  (
    'vmap': vmap-select($V_spacing, '1', '2', '4', '6'),
    'property': 'gap',
    'prefix': 'g',
  )
);

// TODO: This was already replaced in main, let's see if we want to keep it or not
@include vmap-to-classes(
  (
    'vmap': vmap-select($V_spacing, '6'),
    'property': 'row-gap',
    'variable': 'row-gap',
    'prefix': 'gy',
  )
);

// TODO: Evaluate if we need these two
// Remove block margins to counteract parent's --row-gap
.no-gt {
  margin-block-start: calc(-1 * var(--row-gap, 0));
}

.no-gb {
  margin-block-end: calc(-1 * var(--row-gap, 0));
}
