// Colors - all colors should be prefixed with `clr-`
//  This include everything except typography and elevation
//  Refer to _type and _surfaces for those palettes

:root {
  // Search bar
  --clr-search-bg: hsla(0, 0%, 0%, 0.98);
  --clr-search-results-border: hsla(0, 0%, 100%, 0.07);
  --clr-search-overlay-bg: hsla(0, 0%, 0%, 0.6);

  // Article snippet cards
  --clr-quote-border: hsl(223, 32%, 64%);
  --clr-table-border: hsl(235, 7%, 39%);
}
