:root {
  --x: #6a737d; // comment
  --x: #f97583; // keywords
  --x: #dbedff; // regexp
  --x: #9ecbff; // regexp delimiter
  --x: #79b8ff;
  --x: #b392f0;
  --x: #e1e4e8;
  --x: #85e89d;
  --x: #ffab70;
  --x: #fdaeb7;
  --x: #24292e;
  --x: #86181d;
  --x: #144620;
  --x: #c24e00;
  --x: #2f363d;
  --x: #d1d5da;
  --x: #ffffff;
  --x: #6796e6;
  --x: #cd9731;
  --x: #f44747;
  --x: #b267e6;
}
