---
const { items = [] } = Astro.props;
---

<!-- TODO: We call these collections, maybe update and match CSS -->
<!-- Might be worth renaming to `CollectionChips` instead -->
<nav aria-label='Subcategories'>
  <ul>
    {items.map(item => (
      <li>
        <a
          class='chip'
          href={item.url}
          data-selected={item.selected}
        >{item.title}</a>
      </li>
    ))}
  </ul>
</nav>
